Repository kysely-org/kysely, pull requests merged in 2025-01, with the labels that each got.

#1290 fix: implements a underscore validation to camelcase plugin
  src/plugin/camel-case/camel-case.ts
  test/node/src/camel-case.test.ts
Labels: bug, built-in plugin

#564 add CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation, ready for review

#844 #843 - Use JS sort method to sort migrations by name
  src/migration/migrator.ts
  test/node/src/camel-case.test.ts
  test/node/src/migration.test.ts
Labels: bug, postgres, migrations

#1062 Add `Date` as a valid return type for `max` and `min`
  src/query-builder/function-module.ts
  test/node/src/test-setup.ts
  test/typings/test-d/aggregate-function.test-d.ts
Labels: enhancement, mysql, sqlite, postgres, api, typescript, mssql

#976 SQLite's OR CONFLICT clause for inserts
  src/dialect/sqlite/sqlite-query-compiler.ts
  src/index.ts
  src/operation-node/insert-query-node.ts
  src/operation-node/operation-node-transformer.ts
  src/operation-node/operation-node-visitor.ts
  src/operation-node/operation-node.ts
  src/operation-node/or-action-node.ts
  src/query-builder/insert-query-builder.ts
  src/query-compiler/default-query-compiler.ts
  src/query-creator.ts
  test/node/src/insert.test.ts
  test/node/src/replace.test.ts
Labels: enhancement, mysql, sqlite, api, breaking change

#1315 Add a reference to `ref` in `table`'s docstring
  src/expression/expression-builder.ts
Labels: documentation

#827 fix: `WithSchemaPlugin` is adding schema to table function arguments and causes db errors in `json_agg` and `to_json`.
  src/plugin/with-schema/with-schema-transformer.ts
  test/node/src/with-schema.test.ts
Labels: bug, built-in plugin, postgres

#1317 add FUNDING.md
  FUNDING.md
Labels: documentation

#1319 Add PGlite dialect to dialects.md
  site/docs/dialects.md
Labels: documentation, custom dialect, postgres

#1311 fix: resolve edge case with varying shapes in multiple item inserts causing `undefined` in parameters.
  src/parser/insert-values-parser.ts
  test/node/src/insert.test.ts
Labels: bug

#1326 revisiting `orderBy`.
  src/dialect/mssql/mssql-query-compiler.ts
  src/index.ts
  src/operation-node/collate-node.ts
  src/operation-node/delete-query-node.ts
  src/operation-node/operation-node-transformer.ts
  src/operation-node/operation-node-visitor.ts
  src/operation-node/operation-node.ts
  src/operation-node/order-by-item-node.ts
  src/operation-node/query-node.ts
  src/operation-node/select-query-node.ts
  src/operation-node/update-query-node.ts
  src/parser/collate-parser.ts
  src/parser/order-by-parser.ts
  src/query-builder/aggregate-function-builder.ts
  src/query-builder/delete-query-builder.ts
  src/query-builder/order-by-interface.ts
  src/query-builder/order-by-item-builder.ts
  src/query-builder/over-builder.ts
  src/query-builder/select-query-builder.ts
  src/query-builder/update-query-builder.ts
  src/query-compiler/default-query-compiler.ts
  test/node/src/order-by.test.ts
  test/node/src/test-setup.ts
  test/node/src/update.test.ts
  test/ts-benchmarks/index.ts
  test/ts-benchmarks/order-by.bench.ts
  test/ts-benchmarks/select-from.bench.ts
Labels: enhancement, mysql, sqlite, postgres, api, deprecation, mssql

#176 add `queryId` to `CompiledQuery` to allow async communication between more components.
  src/dialect/mssql/mssql-driver.ts
  src/dialect/mysql/mysql-driver.ts
  src/dialect/postgres/postgres-driver.ts
  src/dialect/sqlite/sqlite-driver.ts
  src/driver/database-connection.ts
  src/index.ts
  src/operation-node/operation-node-transformer.ts
  src/plugin/camel-case/camel-case-plugin.ts
  src/plugin/camel-case/camel-case-transformer.ts
  src/plugin/deduplicate-joins/deduplicate-joins-plugin.ts
  src/plugin/deduplicate-joins/deduplicate-joins-transformer.ts
  src/plugin/handle-empty-in-lists/handle-empty-in-lists-plugin.ts
  src/plugin/immediate-value/immediate-value-plugin.ts
  src/plugin/immediate-value/immediate-value-transformer.ts
  src/plugin/with-schema/with-schema-plugin.ts
  src/plugin/with-schema/with-schema-transformer.ts
  src/query-builder/delete-query-builder.ts
  src/query-builder/insert-query-builder.ts
  src/query-builder/update-query-builder.ts
  src/query-compiler/compiled-query.ts
  src/query-compiler/default-query-compiler.ts
  src/query-compiler/query-compiler.ts
  src/query-executor/default-query-executor.ts
  src/query-executor/query-executor-base.ts
  src/schema/create-index-builder.ts
  test/node/src/query-id.test.ts
  test/node/src/raw-sql.test.ts
  test/node/src/test-setup.ts
Labels: enhancement, built-in plugin, custom dialect, custom plugin, built-in dialect, breaking change
