Repository kysely-org/kysely, pull requests merged in 2025-02, with the labels that each got.

#1344 fix: isAutoIncrementing: true for sqlite integer primary key
  CONTRIBUTING.md
  package-lock.json
  src/dialect/sqlite/sqlite-introspector.ts
  test/node/src/introspect.test.ts
  test/node/src/test-setup.ts
Labels: bug, sqlite, built-in dialect

#1348 fix(docs): Fixed closing backtick in Migrator JSDoc
  src/migration/migrator.ts
Labels: documentation

#1349 refactor: improve sqlite-introspector metadata query
  src/dialect/sqlite/sqlite-introspector.ts
Labels: sqlite, built-in dialect

#1347 feat: expands limit in select accepting null value
  src/query-builder/select-query-builder.ts
  test/node/src/select.test.ts
Labels: enhancement, postgres, api

#1342 feat: Allow read-only transactions in Postgres and MySQL
  src/dialect/mysql/mysql-driver.ts
  src/dialect/postgres/postgres-driver.ts
  src/driver/driver.ts
  src/kysely.ts
  test/node/src/controlled-transaction.test.ts
  test/node/src/transaction.test.ts
Labels: enhancement, custom dialect, mysql, postgres, built-in dialect, api, oracle

#1360 docs: add Marvin's (Deno) quote.
  site/src/components/SectionQuotes/Quote.tsx
  site/src/components/SectionQuotes/quotes.ts
  site/src/components/SectionQuotes/reddit.module.css
  site/static/img/avatars/marvinh.jpeg
Labels: documentation
